$primary: #00d1b2!important;
$size5: 1.25rem;
$size7: 0.75rem;

.blog-tag {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 5px;
}
.CodeMirror.cm-s-paper.CodeMirror-wrap {
  z-index: 0 !important;
}
.icon-section {
  display: inline-block;
  margin-right: 1rem;
}
.is-marg-bt-5 {
  margin-bottom: $size5;
}
.is-marg-hr-7 {
  margin: 0 $size7;
}
.is-marg-tp-5 {
  margin-top: $size5;
}
.is-pad-tp-5 {
  padding-top: $size5;
}
.is-pad-vt-5 {
  padding: $size5 0;
}
.is-pad-5 {
  padding: $size5;
}
.is-strike-through {
  text-decoration: line-through;
}
.liker-hand {
  background-color: #28646e;
  -webkit-border: 1px solid #50e3c2;
  -moz-border: 1px solid #50e3c2;
  border: 1px solid #50e3c2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  margin: 0 0.3rem;
  margin-top: -4px;
  padding: 0.1rem;
  position: relative;
  vertical-align: middle;
  width: 18px;
}
.liker-hand img {
  display: block;
  margin: auto;
  padding-top: 2px;
  width: 80%;
}
.vote-icon {
  color: #aaa;
  -webkit-transition:all 500ms ease-in-out;
  -moz-transition:all 500ms ease-in-out;
  -ms-transition:all 500ms ease-in-out;
  transition:all 500ms ease-in-out;
}
.vote-icon-up:hover {
  color: #19d160
}
.vote-icon-down:hover {
  color: #FF3860
}
