$primary: #00d1b2!important;
$size5: 1.25rem;
$size7: 0.75rem;

.blog-tag {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 5px;
}
.CodeMirror.cm-s-paper.CodeMirror-wrap {
  z-index: 0 !important;
}
.icon-section {
  display: inline-block;
  margin-right: 1rem;
}
.is-marg-bt-5 {
  margin-bottom: $size5;
}
.is-marg-hr-7 {
  margin: 0 $size7;
}
.is-marg-tp-5 {
  margin-top: $size5;
}
.is-pad-tp-5 {
  padding-top: $size5;
}
.is-pad-vt-5 {
  padding: $size5 0;
}
.is-pad-5 {
  padding: $size5;
}
.is-strike-through {
  text-decoration: line-through;
}
.vote-icon {
  color: #aaa;
  -webkit-transition:all 500ms ease-in-out;
  -moz-transition:all 500ms ease-in-out;
  -ms-transition:all 500ms ease-in-out;
  transition:all 500ms ease-in-out;
}
.vote-icon-up:hover {
  color: #19d160
}
.vote-icon-down:hover {
  color: #FF3860
}
